:root {
--primary-color: #434455;
--secondary-color: #2e2f42;
--button-background-color: #4d5ae5;
--visited-links: #b900b9;
--hover-color: #0606bd;
--background-color-section-our-team: #f4f4fd;
--background-white-color: #fff;
--background-icon-list: #f4f4fd;
--icons-color: #8e8f99;
--icons-hover-color: #ffffff;
--background-icons-color: #4d5ae5;
--title-customer-color: #2e2f42;
--heading-font-family: "Raleway",
    sans-serif;
--text-font-family: "Roboto",
    sans-serif;
}


/* General settings of all elements */
*{
    body {
        font-family: var(--text-font-family);
        color: var(--primary-color);
    }
}


ul {
    list-style-type: none;
}

.global-header .main-nav a{
    text-decoration: none;
}

.container {
    width: 1200px;
}
.section {
    display: flex;
    justify-content: center;
}
.container-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.link-color {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    
}



/* Information of logo WEB */
.logo::before{
    content:"WEB";
    color: var(--button-background-color);
    font-family: var(--heading-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
}
/* Information of logo STUDIO */
.atribut-logo {
    font-family: var(--heading-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}
.logo, .atribut-logo a{
    text-decoration: none;
}
/* Information about link */
.global-header .link-color a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--secondary-color);
}
.link-color a:visited {
    color: var(--visited-links);
}



/* Information about contacts data */
.mail {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--primary-color);
}
.mail:hover,
.mail:focus {
    color: var(--hover-color);
}
.tel {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--primary-color);
}
.tel:hover,
.tel:focus {
    color: var(--hover-color);
}

/* Information about Hero Section */
.hero-section{
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500px;
    
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143em;
    color: var(--background-white-color);

    
}
/* Information about button service */
.btn-service {
    background-color: var(--button-background-color);
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--background-white-color);
    cursor:pointer;
    justify-content: center;
}
.btn-service:hover {
    background-color:var(--button-background-color);     
}

.btn-service:focus {
    background-color: var(--button-background-color);
}
/* Information about Information about feature list  */
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    color: var(--secondary-color);
}
.feature-title-information {
    font-size: 16px;
    line-height: 1.5em;
}

.feature-list {
    display: flex;
    gap: 24px;
    padding: 100px 70px;
}
.icon-list-benefits {
    display: flex;
    justify-content: center;
    width: 264px;
    height: 112px;
    align-items: center;
    background: var(--background-icon-list);
    border-radius: 4px;
}
.icon-benefits {
    width: 64px;
    height: 64px;
}
/* Information about What are we doing Section */
.section-what-we-doing {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}
.what-we-doing-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.title-what-we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111em;
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: 72px;
}

/* Information about Our Team */

.section-our-team {
    display: flex;
    background-color: var(--background-color-section-our-team);
    justify-content: center;
    margin-top: 100px
    
}
.section-our-team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
    
}
.title-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111em;
    color: var(--secondary-color);
    text-align: center;
    padding: 60px 35px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    color: var(--secondary-color);
    text-align: center;
}
.job-team {
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
}

.short-description {
    font-size: 16px;
    line-height: 1.5em;
}
.background-card {
    background-color: var(--background-white-color);
}

.icons-list-our-team {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    justify-content: center;
}

.icons-list-our-team .icons-our-team svg {
    width: 16px;
    height: 16px;
}

.icons-list-our-team .icons-our-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--icons-color);
    margin-bottom: 25px;

}
.icons-list-our-team .icons-our-team:hover
 {
    background-color: var(--background-icons-color);
    border-radius: 50%;
    fill: var(--icons-hover-color);   
}
.icons-list-our-team .icons-our-team:focus {
    background-color: var(--background-icons-color);
    border-radius: 50%;
    fill: var(--icons-hover-color);
}

/* Information about Section Customers */

.icon-customer {
    display: flex;
    justify-content: center;

}



/* Information about footer section */
.footer-section {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    height: 300px;
    padding-left: 100px;
    align-items: center;
}

.footer-logo::after {
    content:"WEB";
    color: var(--button-background-color);
    font-family: var(--heading-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
}
.footer-logo-studio {
    font-family: var(--heading-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-white-color);
}

.short-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-white-color);
}
.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.icons-social-media {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    justify-content: center;
}

.icons-social-media .icons-our-team svg {
    width: 20px;
    height: 20px;
}

.icons-social-media .icons-our-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--icons-color);

}

.icons-social-media .icons-our-team:hover {
    background-color: var(--background-icons-color);
    border-radius: 50%;
    fill: var(--icons-hover-color);
}

.icons-social-media .icons-our-team:focus {
    background-color: var(--background-icons-color);
    border-radius: 50%;
    fill: var(--icons-hover-color);
}